.input-field-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-field-label {
  font-size: 13px;
  color: #374151;
  font-weight: 500;
}

.input-field-wrapper {
  display: flex;
  align-items: center;
  border: 1.5px solid #9ca3af;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 0 10px;
  gap: 8px;
  transition: border-color 0.2s;
}

.input-field-wrapper:focus-within {
  border-color: #4b6fa5;
}

.input-field-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 9px 0;
  font-size: 14px;
  color: #374151;
}

.input-field-input::placeholder {
  color: #9ca3af;
}

.input-field-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: #9ca3af;
  flex-shrink: 0;
}


.input-field-toggle-btn:hover{
  color: #9ca3af;
  background: transparent;
}

.input-field-error-text {
  color: #ef4444;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 4px;
}

.input-error {
  border-color: #ef4444 !important;
}

/* Ẩn con mắt mặc định của trình duyệt Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}